.aboutus-container {
    position: relative;
    color:var(--main-text);
  }
  
  .aboutus-img-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }

  /* aboutus-img {
    background-image: url('../assets/aboutusheader.jpeg');
    background-repeat: no-repeat;
    height: 100%; 
    background-position: center top;
    background-size: cover; 
  } */
  
  .aboutus-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 4rem;
    background: linear-gradient(to right, var(--main-orange), var(--main-green));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Hide the original text color */
    -webkit-text-stroke: 1px black; /* Width and color of the border */
  
  }
  
  
  .location-details-header {
    text-align: center;
    font-size: 3rem;
  }
  
  .aboutus-message {
    width: 70ch;
    margin: 3rem auto; 
    font-size: 1.5rem;;
  }

.location-details-content {
    display: flex;
    gap:1rem;
}
  
.location-details-list {
  display: flex;
  flex-direction: column;
  flex:1;
}

.location-details-list li {
    text-align: start;
    margin-left:4rem;
    font-size: 1.8rem;
}

.reminder {
  color:darkred;
  text-transform: uppercase;
  text-decoration:underline;
  width:15ch;
}
.aboutus-location-img {
        width:50%;
        margin-right: 3rem;        
      }

.google-location-img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  object-fit: cover;
  box-shadow: 3px 3px 3px 5px;
}

.location-details-list-container {
  display: flex;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  }
  


  @media (max-width: 1130px) {
    .aboutus-header {
      font-size: 7rem;
    }
  }


  @media (max-width: 1024px) {
    .aboutus-header {
      font-size: 6.5rem;
      width: 8ch;
    }

    .aboutus-message {
      font-size: 1.2rem;
    }

    .location-details-content {
      display: flex;
      flex-direction: column;
      gap: 0rem; 
    }


  .location-details-list {
    display: flex;
  }

  .location-details-list li {
      text-align: start;
      font-size: 1.5rem;
  }

  .aboutus-location-img {
    width: 90%;
    margin: 0px 3rem;
  }

/* ASDNMSAdjnaoidjaoidjaoidjaoidjaod */
  }

  @media (max-width: 800px) {
    .aboutus-message {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 640px) {

    .location-details-header {
      font-size: 2rem;
      margin-bottom:-1rem;
    }

    .location-details-list-container {
      max-width: 95%;
      margin-left: -2.5rem;

    }

    .location-details-header {
        font-size: 1.75rem;
    }

    .location-details-list li {
      font-size: 1.3rem;
      text-align: center;
    }

    .aboutus-message {
      font-size: 1rem;
      width: 50ch;
    }
    .aboutus-location-img {
      width: 90%;
      margin-left:2rem;
    }
  }
  
  @media (max-width: 580px) {
    .aboutus-message {
      font-size: 1rem;
      width: 50ch;
      margin-left:3rem;
    }

    .location-details-list li {
      font-size: 1rem;
      text-align: left;
      width: 100%;

    }
    .location-details-list-container {
      margin-left:-1rem;
      
    }
  }
  

  @media (max-width: 510px) {


    .aboutus-header {
      font-size: 6.5rem;
      width: 5ch;
      text-align: center;
    }

    .aboutus-message {
      font-size: 1rem;
      width: 50ch;
      margin-left:1.5rem;
    }

    .location-details-list li {
      font-size: 1rem;
      text-align: left;
      width: 100%;

    }
    .location-details-list-container {
      margin-left:-1.5rem;
      
    }
  }


  @media (max-width: 475px) {
    .aboutus-message {
      font-size: 1rem;
      width: 95%;
      
    }

    .location-details-list li {
      font-size: 1rem;
      text-align: left;
      width: 100%;
    }
    .location-details-list-container {
      margin-left:-1.5rem;
      
    }
  }
  @media (max-width: 410px) {
    .aboutus-header {
      font-size: 5.5rem;
      width: 5ch;
      text-align: center;
    }

  }

  @media (max-width: 380px) {

    .aboutus-message {
      font-size: 1rem;
      width: 90%;
      
    }

    .google-location-img {
      width: 100%;
    }

    .location-details-list {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin-left: -1rem;
    }

    .location-details-list p {
      font-size: .85rem;
      }
  } 