/* Style the container */
.aboutus-container {
    position: relative;
  }
  
  /* Style the background image */
  .aboutus-img-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .aboutus-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the image behind the content */
  }
  
  /* Style the aboutus-content */
  .aboutus-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1; /* Place the content above the image */
  }
  
  /* Style the h1 element */
  .aboutus-header {
    font-size: 4rem;
  }
  
  /* Rest of your styles for .aboutus-message and .location-details-container go here */
  
  .location-details-header {
    text-align: center;
    font-size: 3rem;
  }
  
  /* Style the aboutus-message */
  .aboutus-message {
    text-align: center;
    width: 70ch;
    margin: 0 auto; /* Center horizontally within its container */
  }
.location-details-content {
    display: flex;
}
  
.location-details-list {
  display: flex;
  flex-direction: column;
  gap:2rem;
  flex:1;
  border: 1px sol blue;
}

.location-details-list li {
    text-align: start;
    list-style-type: '\1F44D';
    margin-left:1rem;
}


.Google {
        width:50vw;
        margin-left:10rem;
        display: flex;
        justify-content: center;
        align-items: center;
}