:root {
    --main-orange: #F0881C;
    --main-blue: #0676C1;
    --main-green:#00ff00;
    --main-text:#254653;
    --main-background:#FFF8F2;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Patua One", sans-serif;
    background-color: var(--main-background);
}

li {
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: black;
}