:root {
    --main-orange: #F0881C;
    --main-blue: #0676C1;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Patua One", sans-serif;
}

li {
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: black;
}