.hero-section {
  position: relative;
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
}


.hero-header {
  margin: 0;
  font-size: 8rem ;
  z-index: 1; 
  background: linear-gradient(to right, var(--main-orange), var(--main-green));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Hide the original text color */
  -webkit-text-stroke: 1px black; /* Width and color of the border */
  text-shadow: 1px 1px 5px 1px rgb(48, 48, 48); /* horizontal offset, vertical offset, blur radius, shadow color */

}

.hero-btn  {
  margin-top: 20px; 
  padding: 1em 3em; 
  font-size: 1.3rem ;
  background-color:var(--main-green);
  color: var(--main-text);
  border-radius: 15%;
  cursor: pointer;
  transition: background .3s ease, scale .5s ease;
  animation: glowing 4s infinite; /* Apply the glowing animation */

}

.hero-btn:hover {
  background: var(--main-orange);
  scale:1.1;

}

@keyframes glowing {
  0% {
    box-shadow: 0 0px 30px #ff6b6b; 
  }
  50% {
    box-shadow: 0 0 40px #ff6b6b; 
  }
  100% {
    box-shadow: 0 0 30px #ff6b6b; 
  }
}

@media (max-width: 1536px) {
  .checkout-container {
  max-width: 1280px;
  }
  .hero-img {
    width: 100% !important;
  }
  }

  @media (max-width: 1044px) {
      .hero-content {
        margin-top: -10rem;
      }
      .hero-header {
        font-size: 6rem;
      }
    }

  /* 2xl */
@media (max-width: 1536px) {
  }
  
  /* xl */
  @media (max-width: 1280px) {
  }
  
  /* lg */
  @media (max-width: 1024px) {
  }
  
  /* md */
  @media (max-width: 768px) {
  }
  
  /* sm */
  @media (max-width: 640px) {
  }
  
  /* xs */
  @media (max-width: 475px) {
  }
  
  /* xs around iphone 6 gen */
  @media (max-width: 400px) {
    .hero-header {
      font-size: 4rem;
    }
    .hero-btn {
      font-size: 1rem;
      padding: .5em 1em;
    }
  }