/* Position the hero-section relatively to use as a container */
.hero-section {
  position: relative;
}

/* Style the background image */
.hero-img {
  background-image: url('../assets/heroImage1.jpg'); /* Use background-image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

/* Style the hero-content */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
}

.hero-header {
  margin: 0;
  font-size: 8rem;
  z-index: 1; 
}

.hero-btn {
  margin-top: 20px; 
  padding: 10px 20px; 
  font-size: 1rem;
}
@media (max-width: 640px) {
  }