.menu-header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.menu-header h1 {
    border-bottom: 3px solid blue;
}

.menu-nav {
    display: flex;
    gap:2.5rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: center;
}

.menu-nav-item {
    background: green;
    padding:.5em .75em;
    border-radius: 10%;
}

.menu-container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem; /*dfkljsfsdjfoisjoisjfsiojf*/
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid red; */
    }
    
.menu-object {
    /* border:1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:3rem;
    font-size: .9rem;
    margin-top: 3rem;
}

.menu-object-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid blue; */
    width: 22%;
    box-shadow: 1px 1px 1px 1px black;
    text-align: center;
    padding:0rem 2rem;
}

.menuItem-price {
    color:var(--main-orange);
}

    /* 2xl */
    @media (max-width: 1536px) {
    .menu-container {
    max-width: 1280px;
    }
    }
    
    /* xl */
    @media (max-width: 1280px) {
    .menu-container {
    max-width: 1024px;
    }
    .menu-header {
        margin-top: -6rem;
    }
    }
    
    /* lg */
    @media (max-width: 1024px) {
    .menu-container {
    max-width: 768px;
    }
    .menu-header {
        margin-top: -9rem;
    }

    .menu-object {
        font-size: .7rem;
    }
    .menu-object-flex {
        gap:1rem;
    }
    }
    
    /* md */
    @media (max-width: 768px) {
    .menu-container {
    max-width: 640px;
    }
    }
    
    /* sm */
    @media (max-width: 640px) {
    .menu-container {
    max-width: 475px;
    }
    .menu-object {
        flex-direction: column;
        font-size: .6rem;
    }
    .menu-object-flex {
        gap:.5rem;
        width: 80%;
    }

    }
    
    /* xs */
    @media (max-width: 475px) {
    .menu-container {
    width: 100%;
    }
    .menu-object {
        /* border: 1px solid red; */
        margin-left:3rem;
    }
    .menu-nav-item {
        font-size: 1.3rem;
    }
    }
    
    /* xs around iphone 6 gen */
    @media (max-width: 380px) {
    .menu-container {
    width: 100%;
    }

    .menu-object {
        /* border: 1px solid red; */
        margin-left:0rem;
    }
    }