.menu-background {
    background-image: url('../assets/menubackground.jpg'); /* Specify the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; /* Set the height to 100% of the viewport height */
    margin-top: -5rem;
}

.menu-container {
    margin: 0; /* Remove default margin */
    padding-bottom:15rem;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color:var(--main-text);
}

.menu-header h1 {
    display: flex; /* Make the text and image flex items */
    align-items: center; /* Center vertically within the h1 element */
    border-bottom: 3px solid blue;
    margin-top: 10rem;
}
.menu-header-icon img {
    width: 8rem; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    animation: tilt infinite 2s ease-in-out; /* Apply the tilt animation */
}

@keyframes tilt {
    0% {
        transform: rotate(0deg); /* Initial position */
    }
    50% {
        transform: rotate(-10deg); /* Rotate left at 50% of the animation duration */
    }
    100% {
        transform: rotate(10deg); /* Rotate right at the end of the animation */
    }
}
.menu-nav {
    display: flex;
    gap:2.5rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: center;
}

.menu-nav-item {
    background: green;
    padding:.5em .75em;
    border-radius: 10%;
    transition: background-color 0.2s ease;    
}

.menu-nav-item:hover {
    background-color: var(--main-orange);
}


.menu-container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem; /*dfkljsfsdjfoisjoisjfsiojf*/
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
    
.menu-object {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:3rem;
    font-size: .9rem;
    margin-top: 3rem;
    color:var(--main-text);
    cursor: pointer;
}

.menu-object-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 22%;
    box-shadow: 1px 1px 1px 1px black;
    text-align: center;
    padding:0rem 2rem;
    background-color: whitesmoke;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--main-orange), red); /* Gradient border */
    border-image-slice: 1; /* Ensure full border width */
    transition: border-width 0.1s; /* Apply a transition to the border-width property */
}

.menu-object-flex:hover {
    border-width: 7px; /* Increase border width on hover (adjust as needed) */
}

.menuItem-price {
    color:var(--main-orange);
}

    /* 2xl */
    @media (max-width: 1536px) {
    .menu-container {
    max-width: 1280px;
    }
    .menu-header {
        margin-top: -10rem;
    }
    }
    
    /* xl */
    @media (max-width: 1280px) {
    .menu-container {
    max-width: 1024px;
    }
    .menu-header {
        margin-top: -10rem;
    }
    }
    
    /* lg */
    @media (max-width: 1024px) {
    .menu-container {
    max-width: 768px;
    }
    .menu-header {
        margin-top: -9rem;
    }

    .menu-object {
        font-size: .7rem;
    }
    .menu-object-flex {
        gap:1rem;
    }
    }
    
    /* md */
    @media (max-width: 768px) {
    .menu-container {
    max-width: 640px;
    }
    .menu-header {
        font-size: 2rem;
    }
    }
    
    /* sm */
    @media (max-width: 640px) {
    .menu-container {
    max-width: 475px;
    }
    .menu-object {
        flex-direction: column;
        font-size: .6rem;
    }
    .menu-object-flex {
        gap:.5rem;
        width: 80%;
    }
    .menu-header {
        font-size: 1.5rem;
    }
    }
    
    /* xs */
    @media (max-width: 475px) {
    .menu-container {
    width: 100%;
    }
    .menu-nav-item {
        font-size: 1.3rem;
    }
    .menu-nav {
        gap:2rem;
        flex-wrap: wrap;
        font-size: 1.5rem;
        margin-left: -3rem;
    }
    }
    
    /* xs around iphone 6 gen */
    @media (max-width: 380px) {
    .menu-container {
    width: 100%;
    }

    .menu-object {
        /* border: 1px solid red; */
        margin-left:-.8rem;
    }
    .menu-nav {
        margin-left: -3rem;
        margin-right: 1rem;
    }
    }