
.navBar-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 4px solid var(--main-orange);
  font-size: 1.5rem;
  background-color: white;
}

.nav-logo {
  width: 10rem;
  flex: 0 0 auto;
  margin-left: 0.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex: 1;
}

.nav-list li {
  margin-right: 2rem;
}

.nav-list a {
  text-decoration: none;
  color:var(--main-text);
}

.list-item-location {
  margin-right: 1.5rem;
}

.location {
  display: flex;
  align-items: center;
}

.nav-btn {
  background-color: var(--main-orange);
  border: 5px solid var(--main-blue);
  color: var(--main-blue);
  border-radius: 15%;
  padding: 1em 2.5em;
}





@media (min-width: 1044px) {
  .show-nav {
    display: none;
  }

  
}


@media (max-width: 1044px) {
  .navBar-Container {
    flex-direction: column;
  }

  .nav-list {
    display: none;
  }

  .nav-list.nav-open {
    display: flex;
    visibility: visible;
    background-color: red;
    margin-left:-67rem;

  }
  .list-item.nav-open {
    display:flex;
    visibility: visible;
  }
}

/* md */
@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .nav-list.nav-open {
    display: flex;
    flex-direction: column;
    visibility: visible;
    margin-left:-15rem;
    margin-top: 2rem;
    margin-bottom: -3rem;
    gap:3rem;
  }

  .list-item.nav-open {
    display:flex;
    visibility: visible;
    gap:2rem;
  }

  .navBar-Container.nav-open {
    height: 50%;
  }

  }
  
  /* sm */
  @media (max-width: 640px) {
  .container {
  max-width: 475px;
  }
  }
  
  /* xs */
  @media (max-width: 475px) {
  .container {
  width: 100%;
  }
  }
  
  /* xs around iphone 6 gen */
  @media (max-width: 380px) {
  .container {
  width: 100%;
  }
  }