
.navBar-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 4px solid var(--main-orange);
  font-size: 1.5rem;
  background-color: white;
}

.nav-logo {
  width: 10rem;
  flex: 0 0 auto;
  margin-left: 0.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex: 1;

}

.nav-list li {
  margin-right: 2rem;
}

.nav-list a {
  text-decoration: none;
  color:var(--main-text);
}

.list-item-location {
  margin-right: 1.5rem;
}

.nav-btn {
  background-color: var(--main-orange);
  border: 5px solid var(--main-blue);
  color: var(--main-blue);
  border-radius: 15%;
  padding: 1em 2.5em;
}


@media (max-width: 1280px) {
  
  .navBar-Container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;

  }

  .nav-list {
    display: grid; /* Use CSS Grid layout */
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
    align-items: center;
    justify-items: center; 
    margin-top: 1rem;
  }

  .nav-list li {
    margin: 0; 
    margin-bottom: 1rem; 

  .nav-btn {
    margin-top: auto; 
  }

  .list-item-location {
    display: none; 
  }
}
}