
.navBar-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 4px solid var(--main-orange);
  font-size: 1.5rem;
  background-color: white;
}

.nav-logo {
  width: 10rem;
  flex: 0 0 auto;
  margin-left: 0.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex: 1;
}

.nav-list li {
  margin-right: 2rem;
}

.nav-list a {
  text-decoration: none;
  color:var(--main-text);
}

.list-item-location {
  margin-right: 1.5rem;
}

.location {
  display: flex;
  align-items: center;
}

.nav-btn {
  background-color: var(--main-orange);
  border: 5px solid var(--main-blue);
  color: var(--main-blue);
  border-radius: 15%;
  padding: 1em 2.5em;
}



.mobile-nav-container {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 15rem;
  background-color: var(--main-background);
  z-index: 999;
}


/* Show the mobile navigation container when menuOpen is true */
.mobile-nav-container.show {
  display: flex;
}

.mobile-nav-logo {
  width: 20rem;
  flex: 0 0 auto;
}

.mobile-nav {
  margin-top: -7rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;
}

.mobile-list-item {
  font-size: 2rem;
  transition: 2s ease;
  text-transform: uppercase;

}



.mobile-list-item:hover {
  color: var(--main-orange)!important;
}

.mobile-nav-btn {
  right: 0;
  border: 4px solid var(--main-blue);
  background-color: var(--main-orange);
  font-size: 2rem;
  font-weight: 600;
  padding:.5em;
  text-transform: uppercase;
  transition: .2s ease-in;
  z-index: 9999;
}

.mobile-nav-btn:hover {
  border: 4px solid var(--main-orange);
  background-color: var(--main-blue);

}

.show-mobile-nav {
  position: fixed;
  display: none;
  margin-top: 2rem;
  right: 0;
  margin-right: 2rem;
  border: none;
  border-radius: 20%;
  background-color: transparent;
  font-size: 3rem;
  padding: .1em .3em;
  z-index: 9999;
  background-color: var(--main-orange);
}

@media (max-width: 1044px) {

    .navBar-Container {
      display: none;
    }

    .show-mobile-nav {
      display: flex;
    }
  
}

/* md */
@media (max-width: 768px) {
  .mobile-nav {
    gap:1.5rem;
  }
  .mobile-nav li, .mobile-nav-btn {
    font-size: 2rem;

  }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .mobile-nav {
      margin-top: -10rem;
      gap:1.5rem;
    }
    .mobile-nav li, .mobile-nav-btn {
      font-size: 1.5rem;

    }
}
  
  /* xs */
  @media (max-width: 475px) {
  .container {
  width: 100%;
  }
  .show-mobile-nav {
    font-size: 2.5rem;
  }
  .mobile-nav {
    gap:1.2rem;
    margin-top: -7rem;
    margin-left: -1.5rem;
  }
  .mobile-nav li, .mobile-nav-btn {
    font-size: 1.4rem;

  }
  }
  
  
  /* xs around iphone 6 gen */
  @media (max-width: 400px) {
  .mobile-nav {
    margin-top: -13rem;
    gap:1rem;
  }
  .mobile-nav li, .mobile-nav-btn {
    font-size: 1.5rem;
  }
  }

  @media (max-width: 350px) {
    .container {
    width: 100%;
    }
    .mobile-nav-logo {
      width: 15rem;
      flex: 0 0 auto;
    }
    .mobile-nav {
      gap:.9rem;
      margin-top: -10rem;
      margin-left: -2rem;
    }
    .mobile-nav li, .mobile-nav-btn {
      font-size: 1.3rem;

    }
    }