.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:10rem;
}

.privacy-policy-company-name {
    margin-bottom:-1rem;
    font-size: 1.5rem;
}
.privacy-policy-header {
    text-align: center;
}
.privacy-policy-title {
    font-size: 3rem;
}
.privacy-policy-effective-date {
    font-size:1.2rem;
}

.llc-location {
    display:flex;
    flex-direction: column;
}

.llc-location-details {
    font-size:1rem;
    text-align: left;
    margin-left:4rem;
}

.privacy-policy-agreement-message {

}

.privacy-policy-main-message {
    width: 65ch;
    font-size: 1.25rem;
}
.privacy-bold {
    font-weight: 500;
    font-size: 1.75rem;
}









.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
    
    /* 2xl */
    @media (max-width: 1536px) {
    .container {
    max-width: 1280px;
    }
    }
    
    /* xl */
    @media (max-width: 1280px) {
    .container {
    max-width: 1024px;
    }
    .navBar-Container {
        display: none;
    }
    }
    
    /* lg */
    @media (max-width: 1024px) {
    .container {
    max-width: 768px;
    }

   
    }
    
    /* md */
    @media (max-width: 768px) {
    .container {
    max-width: 640px;
    }

    .privacy-policy-main-message {
    width: 55ch;
    font-size: 1.25rem;
    }  

    }
    
    /* sm */
    @media (max-width: 640px) {
    .container {
    max-width: 550px;
    }
    .privacy-policy-main-message {
        width: 40ch;
        font-size: 1.25rem;
        }  
    }
    
 /* xs */
@media (max-width: 475px) {
    .container {
        max-width: 440px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    .privacy-policy-main-message {
        width: 40ch;
        font-size: 1rem;
    }
    .privacy-policy-container {
        max-width: 100%;
        border: 1px solid blue;
    }  
    .privacy-policy-bold {
        font-size: 1.5rem;
    }
    .privacy-policy-title {
        font-size: 2rem;
    }
}

/* xs around iphone 6 gen */
@media (max-width: 380px) {
    .container {
        width: 370px;
    }
    .privacy-policy-main-message {
        width: 37ch;
        font-size: 1rem;
    }
}